
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>




<div align="center">>

	<font size="8"><strong><center>HousPer</center></strong></font>
	
	<font size="6"><strong><center>EazyKlean</center></strong></font>
	<h1 align="center">Contact Us:</h1>
		Name:<input>
		Email:<input>
		Phone:<input>
</div>

<h1><center>HOW WE WORK???</center></h1>
	
<table align="center" width="700px">
	<tr>
		<td style="font-size:30px"><center><img src="http://www.georgiabreakthru.org/sites/all/themes/gsaa/images/chalkboard_time.jpg" alt="Juan" style="width:304px;height:228px"></center></td>
		<td style="font-size:30px"><center><img src="http://thecopticleague.org/uploads/files/2/52a11a6711-schedule.png" alt="Juan" style="width:304px;height:228px"></center></td>
		<td style="font-size:30px"><center><img src="http://3.bp.blogspot.com/-ia35RovMGQo/VA2zUsrN6zI/AAAAAAAAAz0/H7crfu51XTw/s1600/List%2Bclean.png" alt="Juan" style="width:304px;height:228px"></center></td>
	</tr>
	<tr>
		<td style="font-size:30px"><center>Estimate</center></td>
		<td style="font-size:30px"><center>Schedule</center></td>
		<td style="font-size:30px"><center>Complete</center></td>
	</tr>
	<tr>
		<td width="300px" style="font-size:20px"><center>We will meet to view the status of the living area. The price will range based on this information and services requested. </center></td>
		<td width="200px" style="font-size:20px"><center>A date may be requested, but if unavailable must re-schedule.</center></td>
		<td width="200px" style="font-size:20px"><center>We will show up and leave it sparkling clean.</center></td>
	</tr>	
</table>



<font size="7"><center>Testimonials</center></font>

<table align="center">
	<tr>
		<td width="300px"><img src="https://culturalmisconceptions.files.wordpress.com/2013/02/791372_80196572.jpg" alt="Juan" style="width:304px;height:228px"></td>
		<td width="300px"><img src="http://nativeyouthleadership.org/wordpress/wp-content/uploads/2013/05/KEIOSHIAH-HEAD-SHOT.jpg" alt="Vanessa" style="width:304px;height:228px"></td>
		<td width="300px"><img src="http://www.ctvnews.ca/polopoly_fs/1.2014062.1411085127!/httpImage/image.jpg_gen/derivatives/landscape_960/image.jpg" alt="ChingChong" style="width:304px;height:228px"></td>
	</tr>
	<tr>
		<td width="300px"><font size="5"><strong><center>Juan Mendoza</center></strong></font></td>
		<td width="300px"><font size="5"><strong><center>Vanessa Peters</center></strong></font></td>
		<td width="300px"><font size="5"><strong><center>Justin Nguyen</center></strong></font></td>
	</tr>
	<tr>
		<td width="300px"><font size="5"><center>&quot;The whole experience was terrific! There is nothing like coming home from work and seeing your house look and smell so great. They did such a terrific job and I can&#39;t thank them enough for all their hard work.&quot;</center></font></td>
		<td width="300px"><font size="5"><center>&quot;The house sparkles each time my team cleans my home. Even my husband likes the service we are provided with our team. We immediately know the difference after our team leaves that our home is clean and fresh. Being two working professionals, keep your home clean can be a task but we no longer have to worry about that with HousPer&quot;</center></font></td>
		<td width="300px"><font size="5"><center>&quot;I have been using your service for about a month now and I can&#39;t tell enough people how pleased I am with the results. I am truly impressed with the work HousPer does and appreciate the personal touches. Thank you so much.&quot;</center></font></td>
	</tr>
	

</table></div>
</body></html>
